<!DOCTYPE html>
<html>
    <body>
        <div>
            <p>
                <h2>Books Filter</h2>
            </p>
        </div>
        <div class="form-group">
            <label for="sel1">Genere:</label>
            <select class="form-control" data-ng-model="data.selectedBook.genere" ng-options="item for item in items" id="genereFilter">
            </select>
        </div>
        <table class="table table-hover">
            <thead>
                <th>title</th>
                <th>author</th>
                <th>genere</th>
                <th>year</th>
            </thead>
            <tbody>
                <tr data-ng-dblclick="edit()" data-ng-repeat="item in data.books | filter:data.selectedBook.genere" data-ng-click="selectRow($index)" data-ng-class="{'active': selectedRowIndex === $index}">
                    <td data-ng-bind="item.title"></td>
                    <td data-ng-bind="item.author"></td>
                    <td data-ng-bind='item.genere'></td>
                    <td data-ng-bind='item.year'></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
